#cards{
 text-align: center;  
margin-top: 200px;
word-spacing: 5px;
}
#twitter{
    border: 5px solid black;margin-top:20px ;
 padding:10px;
  text-align:center;
 display: inline-block; margin: 5px auto;max-width: 300px; min-width:200px ;max-height: 700px;min-height: 500px;
font-size: large; 
}
#instagram{
 border: 5px solid black;margin-top:20px ;
padding:10px;
 text-align:center;font-size: large;
  display: inline-block; margin: 5px auto;max-width: 300px; min-width:200px ;max-height: 700px;min-height: 500px;
}
#youtube{
    border: 5px solid black;margin-top:20px ;
 padding:10px; 
 text-align: center;font-size: large;
 display: inline-block; margin: 5px auto;max-width: 300px; min-width:200px ;max-height: 700px;min-height: 500px;
}
#twitter:hover{
    background-color: deeppink;
    color:white;
 
}
#instagram:hover{
    background-color:deeppink ;
    color:white;
}
#youtube:hover{
    background-color:deeppink ;
    color:white;
}
#r1{
    background-color:black;
    border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
    padding: 12px; color: white;
    margin:10px auto;margin-top:60px ;
    }
    #r1:hover{
        background-color: white;
            border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
            padding: 12px; color: black;
            margin:10px auto; margin-top:60px ;
        }
#r2{
    background-color:black;
    border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
    padding: 12px; color: white;
    text-align: center; margin:10px auto;margin:10px auto; margin-top:60px ;
}
#r2:hover{
    background-color: white;
            border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
            padding: 12px; color: black;
            align-content: center; margin:10px auto;margin:10px auto; margin-top:60px ;
    }

    #r3{
        background-color:black;
        border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
        padding: 12px; color: white; margin:10px auto;margin:10px auto; 
        margin-top:60px ;
        
        }
        #r3:hover{
            background-color: white;
            border-radius: 12px;max-width: 300px;min-width: 100px;height: 20px; 
            padding: 12px; color: black;
            align-content: center; margin:10px auto;margin:10px auto;
            margin-top:60px ; 
            }
            .prq{
              margin-top: 20px;
            }